$range-ios-slider-height: 1px;

page-map {
  #building-select {
    flex: 0;
  }

  #google-map {
    flex: 1;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  .sebm-google-map-container {
    height: 100%;
  }

  #buttons {
    position: absolute;
    top: 60%;
    left: 81.75%;
    width: 5%;
    min-height: 30%;
  }

  #btnFirst, #btnGround {
    width: 5vw;
    height: 7.5vw;
    font-size: 13px;
    font-weight: 900;
    color: #666666;
    background-color: #ffffff;
  }

  #popup {
    position: absolute;
    width: 60%;
    min-height: 10%;
    overflow: hidden;
    top: 20%;
    left: 20%;
    background-color: #ffffff;
    border-color: #aaaaaa;
    border-style: solid;
  }

  #popup-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #aaaaaa;
  }

  #popup-content {
    overflow-wrap: break-word;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    width: 95%;
  }

  #popup-button {
    margin: 0 auto;
    background-color: #ffffff;
    color: #aaaaaa;
  }

}
