// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

a {
  text-decoration: none;
}

.button[icon-only] {
  min-width: 35px;
}

.card {
  margin: 0 0 16px 0;
  width: 100%;
}

.flex {
  display: flex;
}

.flex__item--maxwidth {
  flex: 1;
}

.flex__item--minwidth {
  flex: 0;
}

.item {
  padding: 0;
}

.item-text-wrap {
  overflow: inherit;
  text-overflow: inherit;
  white-space: normal;
}

.input-cover {
  position: static;
}

.item-select {
  padding: 0;

  .item-inner {
    padding: 0 !important;
  }

  .select {
    max-width: 60vw;
  }
}

.menu-inner .item-block {
  padding: 0;

  .item-inner {
    padding: 0 16px 0 16px;
  }
}

.scroll-content {
  overflow-y: auto;
}

.wp {
  .item-inner {
    padding-right: 0 !important;
  }

  .text-input {
    margin-right: 0;
    width: 100%;
  }
}
