<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button icon-only (click)="done()" [disabled]="!searchDirections.valid">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Directions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="searchDirections">
    <ion-item>
      <ion-label>Origin</ion-label>
      <ion-select formControlName="origin">
        <ion-option *ngFor="let building of buildings" value={{building.id}}>{{building.name}}</ion-option>
      </ion-select>
    </ion-item>
    <br />
    <ion-item>
      <ion-label>Destination</ion-label>
      <ion-select formControlName="destination">
        <ion-option *ngFor="let building of buildings" value={{building.id}}>{{building.name}}</ion-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>
